PORT=8080
MONGODB_LOCAL=mongodb://127.0.0.1:27017/fresh_mart
SERECT_ACCESSTOKEN_KEY=devid
SERECT_REFRESHTOKEN_KEY=rfdevid
GOOGLE_CLIENT_ID=993869343536-bcpofrvogbgje20os0n6ov9t0sftuuf9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_RETURN_URL=http://localhost:8080
GOOGLE_REDIRECT_URL=http://localhost:5173
FACEBOOK_ID=712162330727208
FACEBOOK_SECRET=3b15dd20dc7d2748819e14ebf1265673
MOMO_SECRET_KEY=3LGVEe7i1Yq2javw7azFmhcDiuIbIA1h
MOMO_ACCESS_CODE=vGT20H5TSDq2xA87
MOMO_PARTNER_CODE=MOMOG5RS20210727
MOMO_DOMAIN=test-payment.momo.vn
NOTIFY_URL=http://localhost:8080/api/response-momo
RETURN_URL=http://localhost:5173/orderComplete

BANK=NCB
CARD_NUMBER=9704198526191432198
CARD_USER="NGUYEN VAN A"
DATE_VALID="07/15"
OTP=123456
TMN_CODE="X5NX5EN5"
SERCETKEY_CODE="RNRIQQQUPZTWBTBBTAXZEHQFRYMKOVII"
VPN_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5173

##for deploy
# PORT=8080
# MONGODB_LOCAL=mongodb://127.0.0.1:27017/fresh_mart
# SERECT_ACCESSTOKEN_KEY=devid
# SERECT_REFRESHTOKEN_KEY=rfdevid
# GOOGLE_CLIENT_ID=993869343536-bcpofrvogbgje20os0n6ov9t0sftuuf9.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
# GOOGLE_RETURN_URL=http://api.fresh-mart.xyz
# GOOGLE_REDIRECT_URL=http://fresh-mart.xyz
# FACEBOOK_ID=712162330727208
# FACEBOOK_SECRET=3b15dd20dc7d2748819e14ebf1265673
# MOMO_SECRET_KEY=3LGVEe7i1Yq2javw7azFmhcDiuIbIA1h
# MOMO_ACCESS_CODE=vGT20H5TSDq2xA87
# MOMO_PARTNER_CODE=MOMOG5RS20210727
# MOMO_DOMAIN=test-payment.momo.vn
# NOTIFY_URL=http://localhost:8080/api/response-momo
# RETURN_URL=http://localhost:5173/orderComplete
# VNPAY_RETURN_URL=http://fresh-mart.xyz
