.slide-best-pr .swiper-button-prev:after, .slide-best-pr .swiper-button-next:after{
    font-size:34px!important;
    font-size:18px!important;
    color:#6f6f6f!important;

}
.slide-best-pr .swiper-button-prev,.slide-best-pr .swiper-button-next{
    width:45px;
    height:45px;
    border-radius:50%;
    border: 1px solid  rgba(0,0,0,10%);
    z-index: 10;
    top:95%!important;
 
}

.slide-evaluate .swiper-button-prev:after, .slide-evaluate .swiper-button-next:after{
    font-size:34px!important;
    font-size:18px!important;
    color:#6f6f6f!important;

}
.slide-evaluate .swiper-button-prev,.slide-evaluate .swiper-button-next{
    width:45px;
    height:45px;
    border-radius:50%;
    border: 1px solid  rgba(0,0,0,10%);
    z-index: 10;
    top:90%!important;
 
}
.slide-evaluate .swiper-button-prev{
    left:46%!important;
}
.slide-evaluate .swiper-button-next{
    right:46%!important;
}
.slide-best-pr .swiper-button-prev{
    left:46%!important;
}
.slide-best-pr .swiper-button-next{
    right:46%!important;
}



.featured-product .swiper-button-prev:after, .featured-product .swiper-button-next:after{
    font-size:34px!important;
    font-size:18px!important;
    color:#6f6f6f!important;

}
.featured-product .swiper-button-prev,.featured-product .swiper-button-next{
    width:45px;
    height:45px;
    border-radius:50%;
    border: 1px solid  rgba(0,0,0,10%);
    z-index: 10;
 
}

@media screen and (max-width: 1400px) {
    .slide-best-pr .swiper-button-prev{
    left:45%!important;
}
.slide-best-pr .swiper-button-next{
    right:45%!important;
}
.slide-evaluate .swiper-button-prev{
    left:45%!important;
}
.slide-evaluate .swiper-button-next{
    right:45%!important;
}
}
@media screen and (max-width: 1199px) {
    .slide-best-pr .swiper-button-prev{
    left:44%!important;
}
.slide-best-pr .swiper-button-next{
    right:44%!important;
}
.slide-evaluate .swiper-button-prev{
    left:44%!important;
}
.slide-evaluate .swiper-button-next{
    right:44%!important;
}
}
@media screen and (max-width: 991px) {
    .slide-best-pr .swiper-button-prev{
    left:43%!important;
}
.slide-best-pr .swiper-button-next{
    right:43%!important;
}
.slide-evaluate .swiper-button-prev{
    left:43%!important;
}
.slide-evaluate .swiper-button-next{
    right:43%!important;
}
}
@media screen and (max-width: 767px) {
    .slide-best-pr .swiper-button-prev{
    left:40%!important;
}
.slide-best-pr .swiper-button-next{
    right:40%!important;
}
.slide-evaluate .swiper-button-prev{
    left:40%!important;
}
.slide-evaluate .swiper-button-next{
    right:40%!important;
}
}
@media screen and (max-width: 530px) {
    .slide-best-pr .swiper-button-prev{
    left:38%!important;
}
.slide-best-pr .swiper-button-next{
    right:38%!important;
}
.slide-evaluate .swiper-button-prev{
    left:38%!important;
}
.slide-evaluate .swiper-button-next{
    right:38%!important;
}
}
@media screen and (max-width: 479px) {
    .slide-best-pr .swiper-button-prev{
    left:35%!important;
}
.slide-best-pr .swiper-button-next{
    right:35%!important;
}
.slide-evaluate .swiper-button-prev{
    left:35%!important;
}
.slide-evaluate .swiper-button-next{
    right:35%!important;
}
.slide-evaluate .swiper-button-prev,.slide-evaluate .swiper-button-next{

    top:92%!important;
 
}
}
@media screen and (max-width: 345px) {
    .slide-best-pr .swiper-button-prev{
    left:30%!important;
}
.slide-best-pr .swiper-button-next{
    right:30%!important;
}
.slide-evaluate .swiper-button-prev{
    left:30%!important;
}
.slide-evaluate .swiper-button-next{
    right:30%!important;
}
}